# ignora carpetas y todo por defecto
**/
*

# ignoro otros scripts
*.R

# permito el .gitignore
!.gitignore

# permito el README 
!README.md

# solo permito scripts finales
!00_functions.R
!01_theme.R
!10_augmentation.R
!20_null.R
!30_metrics.R
!40_network.R
!41_graphs.R

# ignorar otros
.DS_Store
.Rhistory
*.tmp