# ignora carpetas extra todo por defecto
*
/*/
**/
# Permitir el propio .gitignore y archivos de configuración de R
!.Rhistory
!.Rproj.user/
!*.Rproj

# 3. Permitir carpetas (necesario para que Git pueda buscar adentro, 
# aunque tus scripts estén en la raíz)
!*/

# 4. LISTA BLANCA: Scripts específicos que SÍ se sincronizan
!00_functions.R
!01_theme.R
!10_augmentation.R
!20_null.R
!30_metrics.R
!40_network.R
!41_graphs.R

# 5. Ignorar archivos temporales y del sistema
.DS_Store
Thumbs.db
*.tmp