# Ignorar todas las carpetas
/*/
**/

# Ignorar archivos de datos pesados
*.csv
*.xml

# Permitir el propio .gitignore y tus scripts
!.gitignore
!00_functions.R
!01_theme.R
!10_augmentation.R
!20_null.R
!30_metrics.R
!40_network.R
!41_graphs.R